<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="你的身體還好嗎">
    <meta name="author" content="Bryan，Zheng">
    <meta name="keywords" content="每日所需營養">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="">
    <link rel="preconnect" href="" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
     
    <style>
    </style>

    <title>不知道自己每天的營不營養?來測一下就知道了</title>
</head>
    <body>
    <header>
    <div clsss="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="logo.png" width="200">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">主頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index2.html">食物中毒</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  其他意外
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="index3.html">野外有毒動物外傷</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <!--上面留著捕先工安意外跟凍傷還有野外受傷-->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">聯絡專業營養師</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">搜尋</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    </header>
    <section id="second">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
            <h3>每天身體必須營養素評估</h3>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="us.jpg" width="300">
                <h5>Zheng&Bryan</h5>
              </div>
              <div class="col-md-8 text-left">
                <p class="lead">每天都外食？甚至不定時進餐？</p>
                <p>但你必須知道身體是自己最重要的財富</p>
                <p>沒有身體健康一切免談</p>
                <p>就讓Zheng及Bryan幫你評估你的身體吧！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section id="intro">
        <div class="contianer-fluid bg-light p-5">
        <div class="contianer">
            <div class="col-md-12">
                <h1 display-4="">不知道甚麼食物對身體是毒藥？</h1>
                <p class="lead">我們來告訴你可以如何用飲食改善你的狀況</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">跟我來</a>
            </div>
        </div>
      </div></section>
      <h3 class="title"><i class="icon-bullhorn"></i>每天都一杯飲料不離手？<br>想雕塑好的體態沒有捷徑，就從飲食方面下手</h3>
      <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.chimei.org.tw%2Fmain%2Fcmh_department%2F59012%2Fmagazin%2Fvol129%2F05-4.html&amp;width=110&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=46&amp;appId" width="110" height="46" style="border:none;overflow:hidden;float:right;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
      <ul class="unstyled inline blog-tags list-of-authors">
        <li><i class="icon-pencil"></i> By&nbsp;  網上蒐集的資料　Zheng&Bryan</li>
      </ul>

      
<br>
<input required type="text" placeholder="請輸入體重">
<input required type="text" placeholder="請輸入身高">
<input required type="text" placeholder="請輸入肌肉量">
<input required type="text" placeholder="請輸入體脂肪率">
<textarea>
請輸入今天吃了甚麼，越詳細越好，如:100g的高麗菜、50g的雞胸肉....
</textarea>



<br>
<br>
{% if name == "" %}
	<form method="post">
		<input type="text" name="user">
		<input type="submit" name="send" value="送出">
        </form>
{% else %}
	<p>{{name}}</p>
{% endif %}
<br>
<br>
<br>
<hr/>
<!--footer-->

       <!--分隔線分隔線-->
       <!--分隔線分隔線-->
       <!--分隔線分隔線-->
       <!--分隔線分隔線-->
       <!--分隔線分隔線-->
      </section>
      <!--相片區塊-->
      <section id="latest">       
        <div class="container">
          <div class="row">
          <div class="col-md-12 text-center">
            <h3>相關新聞</h3>
            <h1>健康有多重要<h1>
            <!--第一張相片-->
             <div class="row">
              <div class="col-md-4 text-left">
                <div class="outer">
                  <a href="https://www.bbc.com/news/uk-scotland-62940236">
                    <div class="upper">
                    <img src="1.jpg" width="500">
                    </div>
                    <div class="lower">
                      <h3>僅NHS大格拉斯哥和克萊德就記錄了3895 名 18 歲以下兒童因營養不良急性發作。</h3>
                      <span>928 名兒童被標記為需要飲食支持</span>
                      <h4>蘇格蘭數千名營養不良兒童接受治療</h4>
                      <span><i class="fas fa-map-marker-alt"></i> 蘇格蘭</span><br>
                      <span><i class="far fa-clock"></i> 05 19, 2022 </span>
                    </div>
                  </a>
                </div>
              </div>
              <!--第二張相片-->
                <div class="col-md-4 text-left">
                  <div class="outer">
                    <a href="https://www.setn.com/News.aspx?NewsID=1261193">
                      <div class="upper">
                      <img src="3.jpg" width="500">
                      </div>
                      <div class="lower">
                        <h3>選手因磅超過0.1公斤，無緣美國公開賽女子57公斤級賽事</h3>
                        <span>要長期維持57公斤的體重得付出多大代價？</span>
                        <h4>骨質疏鬆，影響身體其他荷爾蒙的運作，停經</h4>
                        <span><i class="fas fa-map-marker-alt"></i>臺灣</span><br>
                        <span><i class="far fa-clock"></i>  2023/03/06</span>
                      </div>
                    </a>
                  </div>
                </div>
              <!--第三張相片-->
                <div class="col-md-4 text-left">
                  <div class="outer">
                    <a href="https://www.rti.org.tw/news/view/id/2161215">
                      <div class="upper">
                      <img src="2.jpg" width="500">
                      </div>
                      <div class="lower">
                        <h3>超過10億名女性和青春期女孩營養不良</h3>
                        <span>營養不良會增加新生兒死亡的風險</span>
                        <h4>她們體重不足和身材矮小，並且缺乏必需的微量營養素與貧血</h4>
                        <span><i class="fas fa-map-marker-alt"></i> 南亞和撒哈拉以南的非洲地區</span><br>
                        <span><i class="far fa-clock"></i>2023-03-07 </span>
                      </div>
                    </a>
                  </div>
                </div>
  
            </div>
          </div>
        <div>
        </div>
      </div></div></section>
    
          
     <!--email的區塊-->
     <section id="email">
       <div class="container">
         <div class="row">
         <div class="col-md-8 offset-md-2 text-center">
           <h3>訂閱Bryan Zheng的Email List</h3>
         </div>
         </div>
         <div class="row">
         <div class="col-md-8 offset-md-2 text-left">		
         <p>讓我們有最新消息立刻通知你！</p>        		  	
           <div class="input-group input-group-lg">
           <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="你的電郵">
         </div>
         <a class="btn btn-primary btn-lg" href="#" role="button">提交</a>
         </div>
         </div>
       </div>
     </section>

     <!--footer的區塊-->
     <footer>
           
       <div class="container">
         <div class="row">
         <div class="col-md-4 text-left">
           <img src="logo.png" width="130">
           <p>瀏覽我們的作品，讓你收到更多關於的資訊</p>
         </div>
         <div class="col-md-4 text-left">
           <h4>連結</h4>
           <ul>
               <li><a href="index.html">主頁</a></li>
               <li><a href="#">相關問題</a></li>
           </ul>
           <ul>
               <li><a href="#">常見問題</a></li>
               <li><a href="#">聯絡我們</a></li>
           </ul>             
         </div>
         <div class="col-md-4 text-left">
           <h4>聯絡我們</h4>
           <p>高雄市三民區<br>
            Phone: (09) 52691769<br>
            E-Mail: <a href="mailto:C110154349@NKUST.EDU.TW">C110154349@NKUST.EDU.TW</a>
             </p>
         </div>
         </div>
       </div>          
     
     </footer>
 

</body>
